<h2>Design Feedback</h2>
<ul>
	<li>Andrey Petrov</li>
	<li>David Wolever</li>
	<li>Julia Miller</li>
</ul>
<h2>Core Technology</h2>
<ul>
	<li><a href="http://expressjs.com">Express</a></li>
	<li><a href="http://git-scm.com">Git</a></li>
	<li><a href="http://github.com">Github</a></li>
	<li><a href="http://www.google.com/webfonts">Google Web Fonts</a></li>
	<li><a href="http://nodejs.org">Node.js</a></li>
	<li><a href="http://subtlepatterns.com">Subtle Patterns</a></li>
</ul>
