<h2>Design Feedback</h2>
<ul>
	<li>Andrey Petrov</li>
	<li>David Wolever</li>
	<li>Julia Miller</li>
</ul>
<h2>Core Technology</h2>
<ul>
	<li>Express</li>
	<li>Faye</li>
	<li>Git</li>
	<li>Github</li>
	<li>Google Fonts</li>
	<li>Node.js</li>
	<li>Subtle Patterns</li>
</ul>
