<div id="actionbar">
    <a href="#">Tasks</a>
    <a href="#">Recap</a>
    <a href="#">Deadlines</a>
    <a href="#">Velocity</a>
    <a href="#">Suggest</a>
    <a href="#">Jobs</a>
    <a href="#">Messages</a>
</div>
<p>Content</p>
