<% if (authUser) { %>
	<div id="actionbar">
		<a href="/project/new">Create Project</a>
	    <a href="/task">Tasks</a>
		<a href="/velocity">Velocity</a>
		<a href="/suggest">Suggest</a>
		<a href="/message">Messages</a>
	</div>
<% } %>
<p>Bacon brisket ball tip, flank tongue tri-tip venison. Beef pork loin
   ball tip, strip steak pork belly cow shoulder hamburger ham pancetta.
   Short ribs pork meatball, pork chop meatloaf bacon biltong pig jerky
   headcheese. Corned beef ground round tongue venison cow. Pork belly
   fatback ground round, meatloaf pig sausage ham headcheese tenderloin.
   Strip steak beef ribs tri-tip salami swine drumstick. Shoulder chuck
   pork chop bresaola ham chicken.</p>
<p>Venison chuck strip steak, fatback pork belly hamburger ground round
   biltong shankle pork loin jowl tri-tip. Ball tip meatloaf beef ribs,
   chuck strip steak andouille sirloin chicken salami jerky. Short loin
   beef andouille, pork belly flank drumstick pig ribeye meatloaf rump
   pork loin turkey brisket. Ball tip meatloaf bresaola, rump t-bone
   short loin hamburger. Tri-tip brisket chuck, spare ribs short loin
   tail ground round turkey jerky fatback shankle. Pork belly venison
   ham hock meatball, hamburger tri-tip bacon rump shankle pig pancetta.
   Tongue ham andouille pastrami, t-bone salami strip steak tenderloin
   corned beef ribeye.</p>
<p>Biltong andouille pig bresaola meatball turkey. Short loin rump
   shoulder, strip steak pork chop jerky beef ribs tenderloin flank
   bacon venison meatloaf fatback cow salami. Turkey meatloaf shoulder,
   jowl rump tri-tip flank bresaola pig brisket spare ribs headcheese.
   Swine cow bacon ball tip chuck, ribeye ham hock boudin pig jerky
   pork rump. Turkey fatback ham strip steak cow. Meatloaf andouille
   ball tip shoulder, ribeye venison tenderloin swine rump t-bone
   fatback. Beef jerky turkey spare ribs short loin, pork chop hamburger
   boudin tri-tip shank.</p>
<p>Shoulder venison rump spare ribs. Shankle turkey bresaola, venison
   boudin chuck beef. Shankle pork belly jowl drumstick, beef ribs
   meatball rump. Turkey cow headcheese fatback tail biltong. Pork chop
   shank boudin rump. Tenderloin bacon shank andouille brisket ball tip.
   Ham hock corned beef swine sirloin biltong pig, tail boudin beef ribs
   meatloaf.</p>
<p>Salami ham hock jerky hamburger headcheese, pork chop jowl chuck tail
   meatloaf beef ribs pig pork strip steak. Beef ribs ball tip
   headcheese, jowl tongue hamburger flank fatback pastrami short ribs
   venison tail tenderloin. Biltong swine flank, sirloin ham shoulder
   ground round pork belly tongue beef strip steak rump. Short loin
   venison swine, chuck bresaola tongue tail spare ribs headcheese.
   Meatloaf flank bacon hamburger, tail short ribs biltong boudin
   ribeye. Ribeye venison ground round, meatloaf pastrami short loin
   strip steak bresaola andouille pork t-bone. Pork chop turkey flank,
   headcheese andouille ham rump spare ribs tri-tip swine bresaola
   meatloaf ground round.</p>
