<% if (authUser) { %>
	<div id="actionbar">
		<a href="/project/new">New Project</a>
	    <a href="/task">Tasks</a>
		<a href="/velocity">Velocity</a>
		<a href="/suggest">Suggest</a>
		<a href="/message">Messages</a>
	</div>
<% } %>
<h2>Welcome!</h2>
<p>Thank you for checking out this early early preview of Velour 2.0. Currently, only some things
   work at all, and those that do generally have severe limitations.</p>
<p>This page will eventually be your Velour home page. There's not enough functionality for that
   yet. So for now it's a listing of all pages that I have at least somewhat working, as well as a
   quick description.</p>
<h3>Dashboard (this page)</h3>
<p>Not much here yet. The lettered squares on the side are a style test for widgets that you can
   add to Velour. Nothing too fancy, it's just a visual representation of things that you want to
   keep an eye on. It'll be projects, users, that sort of thing. If anything new happens to them
   they become hilighted, and you can hover/click to see what happened. These are incredibly
   non-functional for now. In fact, you won't even see the test hilight style unless you're using
   webkit (aka, Safari or Chrome).</p>
<p>There are links above this text if, and only if, you are logged in.</p>
<h4>Known Flaws</h4>
<ul>
	<li>Many buttons above do nothing.</li>
</ul>
<h3>Register Page</h3>
<p>The <a href="/register">register page</a> allows you to create an account on this system. It
   does work at a basic level.</p>
<h4>Known Flaws</h4>
<ul>
	<li>Stores your role preference, but that has no affect on anything yet.</li>
</ul>
<h3>User Info Page</h3>
<p>The <a href="/user/1">user info</a> page will be where you go to find out about a user on this
   system. You will be redirected here after you successfully register for the site.</p>
<h4>Known Flaws</h4>
<ul>
	<li>Top buttons do nothing. They are merely reminders of functionality I may want to add.</li>
	<li>"Since" is not formatted correctly.</li>
	<li>Permissions are not set up correctly. You can see everything. Or you could, if the site was
	    functioning.</li>
</ul>
<h3>Credits Page</h3>
<p>The <a href="/credits/">credits page</a> is actually not buggy in any functional sense. It also
   doesn't do anything. It could be prettier...</p>
<h4>Known Flaws</h4>
<ul>
	<li>Poor use of vertical space -- maybe make it narrow, too?</li>
	<li>No links to my credited people/places.</li>
</ul>
<h3>New Task</h3>
<p>Tasks are a very very important part of Velour. As such, I have started working on the
   <a href="/task/new">new task page</a>. I stopped because the common use case is to assign a task
   to a project, and I don't have projects yet.</p>
<h4>Known Problems</h4>
<ul>
	<li>Completely non-functional.</li>
	<li>Project list is fabricated.</li>
	<li>User list is fabricated.</li>
	<li>No indication of what the different states mean.</li>
	<li>Optional should have some jQuery magic sprinkled on it eventually.</li>
	<li>Body will eventually take markdown, but currently does nothing.</li>
</ul>
<h3>New Project</h3>
<p>Projects are the most important thing on Velour. That makes the <a href="/project/new">project
   creation page</a> one of, if not the, most important page.</p>
<h4>Known Problems</h4>
<ul>
	<li>Completely non-functional.</li>
	<li>Body does not yet take markdown.</li>
	<li>Privacy settings are not explained.</li>
	<li>Optional section does not have jQuery love yet.</li>
</ul>
<h3>Project Info Page</h3>
<p>The <a href="/project/30">project info page</a> is a page that shows all information about the
   project in question to both members and non-members (if the permissions of the project allow
   it). It is the screen that users will see the most, except for the dashboard.</p>
<h4>Known Problems</h4>
<ul>
	<li>Date is wrong</li>
	<li>Other sidebar elements are just blank.</li>
	<li>The various sections in the content area are still being designed. Not sure if I'm sticking
	    with them.</li>
	<li>The content sections are completely blank.</li>