<div id="actionbar">
    <a href="#">My Tasks</a>
    <a href="#">Activity Recap</a>
    <a href="#">Deadlines</a>
    <a href="#">Project Velocity</a>
    <a href="#">Personal Velocity</a>
    <a href="#">Recommendations</a>
    <a href="#">Potential Jobs</a>
    <a href="#">Messages</a>
</div>
<p>Content</p>
