body, html {
    font-family: 'Lato', arial, serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}
body {
    background-image: url('/images/patterns/random_grey_variations.png');
}
input[type="submit"] {
    font-family: 'Lato', arial, serif !important;
    clear: left;
    display: block;
}
#loginbar input[type="submit"] {
	display: inline;
}
#content {
    background-image: url('/images/patterns/brushed_alu.png');
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    overflow: auto;
    width: 700px;
}
body.watch #content {
    padding-right: 65px;
    width: 720px;
}
#outerouter {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
    margin-bottom: 60px;
    position: relative;
}
body.left #outerouter {
	width: 750px;
}
body.watch #outerouter {
	width: 815px;
}

#contentouter {
    padding: 5px;
    border-radius: 5px;
    background-image: url('/images/patterns/black_denim.png');
    box-shadow: 2px 2px 5px #000;
    z-index: 2;
    position: relative;
}
body#register #outerouter {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
body#register #content {
	width: 200px;
}
#watchbar {
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 3;
    width: 50px;
}
#watchbar a {
    height: 50px;
    width: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #DDD;
    border-top-width: 0px;
    border-right-width: 0px;
    color: black;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
#watchbar a img {
	position: relative;
	top: 2px;
}
#watchbar a:hover {
    background-color: #FFF;
    box-shadow: 0px 0px 5px #8F8;
}
#watchbar a.active {
    box-shadow: 0px 0px 5px #000;
}
#maintitle {
    font-size: 40px;
    margin: 0px;
    font-weight: normal;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
}
#actionbar {
    border: 0px solid #CCC;
    border-bottom-width: 1px;
    height: 36px;
}
#actionbar a, #headerbar a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    display: block;
    padding: 5px;
    width: 75px;
    float: left;
    border: 1px solid #CCC;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background: -webkit-linear-gradient(top, #BBB, #DDD);
    border: 1px solid #BBB;
}
#actionbar a:hover, #headerbar a:hover {
	background: -webkit-linear-gradient(top, #CCC, #EEE);
}
#footer {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    border: 0px solid #CCC;
    border-top-width: 1px;
    height: 20px;
}
#footer a {
    color: black;
    text-decoration: none;
}
#copyright {
    font-size: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}
#creditsfooter {
    font-size: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}
h2 {
    font-weight: normal;
}
#headerbar {
    position: absolute;
    top: 0px;
    right: 0px;
}
#loginbar {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    background-image: url('/images/patterns/black_denim.png');
    box-shadow: 2px 2px 5px #000;
    padding: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#userbio #avatar, #projectbio #avatar {
    margin-left: 0px;
    margin-top: 0px;
    float: left;
}
.right {
	margin-left: 180px;
}
#roleswrapper .project {
	margin-top: 5px;
	position: relative;
	height: 48px;
}
.project .rolename {
	position: absolute;
	top: 20px;
	left: 50px;
	font-size: 80%;
}
#roleswrapper .project a {
	display: block;
	color: black;
	text-decoration: none;
	font-size: 120%;
	position: absolute;
	top: 0px;
	left: 50px;
	padding: 0px;
}
#biography p {
	margin-top: 20px;
}
#keyvalue {
    width: 150px;
    font-size: 12px;
    float: left;
    clear: left;
}
#keyvalue a {
    color: black;
    font-size: 11px;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-weight: normal;
    width: auto;
    clear: both;
}
#keyvalue .value a {
	display: inline;
	padding-left: 0px;
}
#keyvalue h2 {
    margin-bottom: 0px;
    margin-top: 30px;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
}
#keyvalue a:hover {
    color: #248;
    background-color: #FFF;
}
#keyvalue .key {
    width: 50px;
    height: 15px;
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#keyvalue .value {
    height: 15px;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#signupform h2 {
	margin-bottom: 0px;
}
label[for="privacy"] {
	display: inline;
}
label {
	display: block;
    font-size: 90%;
}
#signupform #mainsection .option {
    padding: 2px;
    border: 0px solid black;
}
#signupform .option:hover, #signupform .option.focus {
    background-color: #DDD;
}
#signupform #rolesection .option {
    padding: 2px;
    
}
#signupform input[type="submit"] {
	clear: both;
	display: block;
	margin-top: 20px;
}
#keyvalue a.seeall {
	display: block;
	padding: 5px;
	text-align: center;
	font-size: 90%;
}
#task-new-form, #project-new-form {
	margin-top: 10px;
}
#task-new-form input[type="text"], #project-new-form input[type="text"] {
	width: 354px;
}
#task-new-form textarea, #project-new-form textarea {
	width: 354px;
	height: 300px;
	display: block;
}
#task-new-form select, #project-new-form select {
	display: block;
}
.optional {
	border: 0px solid #CCC;
	border-top-width: 1px;
}
.error {
	background-color: red;
	font-size: 110%;
	text-align: center;
	color: black;
	padding: 10px;
}
#task-new #outerouter, #project-new #outerouter {
	width: 400px;
}
#task-new #content, #project-new #content {
	width: 350px;
}
#rolesection .option {
	position: relative;
}
#rolesection input {
	position: absolute;
	top: 2px;
	left: 0px;
}
#rolesection label {
	display: block;
	padding-left: 20px;
}
.right h2 {
	border: 0px solid #CCC;
	border-bottom-width: 1px;
}
.twocol {
	overflow: auto;
	margin-right: -20px;
	margin-top: 20px;
}
.twocol div {
	width: 250px;
	float: left;
	margin-right: 20px;
}
.twocol h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.twocol a {
	color: black;
	padding: 3px;
	text-decoration: none;
	display: block;
	height: 18px;
}
.twocol a:hover {
    color: #248;
    background-color: #FFF;
}
.paginate {
	background-color: #CCC;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 1px solid #CCC;
    background: -webkit-linear-gradient(top, #BBB, #DDD);

}
.paginate a {
	text-align: center;
	margin: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 11px;
	line-height: 15px;
	color: black;
	width: 15px;
	height: 15px;
	float: left;
	padding: 2px;
	cursor: pointer;
}
.paginate a.active {
	background-color: #666;
	font-weight: bold;
	color: white;
}
#roleswrapper {
	overflow: auto;
}
#biography textarea {
	width: 500px;
	height: 250px;
}
#homelink {
	width: 374px;
	height: 24px;
	background-image: url('/images/nerderyLogo.png');
	display: block;
	position: absolute;
	top: -30px;
	left: 10px;
	z-index: 1;
}
#edit-user-history .right table td {
	padding: 5px;
	border: 0px solid #CCC;
	border-bottom-width: 1px;
}