body, html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    background-image: url('/images/patterns/random_grey_variations.png');
}
#content {
    background-image: url('/images/patterns/brushed_alu.png');
    padding: 10px;
    padding-right: 60px;
    padding-bottom: 25px;
    overflow: auto;
}
body.nowatch #content {
    padding-right: 10px;
}
#contentouter {
    padding: 5px;
    margin: 40px;
    margin-top: 60px;
    border-radius: 5px;
    background-image: url('/images/patterns/black_denim.png');
    box-shadow: 2px 2px 5px #000;
    position: relative;
    z-index: 2;
}
body#register #contentouter {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#watchbar {
    position: absolute;
    top: 65px;
    right: 46px;
    z-index: 3;
    width: 50px;
}
#watchbar a {
    height: 50px;
    width: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #DDD;
    border-top-width: 0px;
    border-right-width: 0px;
    color: black;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
#watchbar a:hover {
    background-color: #FFF;
    box-shadow: 0px 0px 5px #FFF;
}
#watchbar a.active {
    box-shadow: 0px 0px 5px #000;
}
#maintitle {
    font-family: 'Metrophobic', arial, serif;
    font-size: 40px;
    margin: 0px;
    font-weight: normal;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
}
#actionbar {
    border: 0px solid #CCC;
    border-bottom-width: 1px;
    height: 20px;
}
#actionbar a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
}
#actionbar a:hover {
    color: #24A;
}
#footer {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    border: 0px solid #CCC;
    border-top-width: 1px;
    height: 20px;
}
#footer a {
    color: black;
    text-decoration: none;
}
#copyright {
    font-size: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}
#credits {
    font-size: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}
h2 {
    font-weight: normal;
}
#loginbar {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    background-image: url('/images/patterns/black_denim.png');
    box-shadow: 2px 2px 5px #000;
    padding: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#userbio #avatar {
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
}
#userbio.admin #avatar {
    box-shadow: 0px 0px 10px #F00;
}
#biography {
    margin-left: 160px;
}
#keyvalue {
    width: 150px;
    font-size: 12px;
    float: left;
    clear: left;
}
#keyvalue a {
    color: black;
    font-size: 11px;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-weight: normal;
    width: auto;
    clear: both;
    position: relative;
    left: -5px;
}
#keyvalue h2 {
    margin-bottom: 0px;
    margin-top: 30px;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
}
#keyvalue a:hover {
    color: #248;
    background-color: #FFF;
}
#keyvalue .key {
    width: 50px;
    height: 15px;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
#keyvalue .value {
    height: 15px;
    border: 0px solid #CCC;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#signupform #mainsection label {
    width: 100px;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 90%;
    clear: left;
    vertical-align: bottom;
    height: 27px;
    line-height: 27px;
    padding-right: 5px;
}
#signupform #mainsection .option {
    padding: 2px;
    border: 0px solid black;
}
#signupform #mainsection .option:hover {
    background-color: #DDD;
}
#signupform #rolesection .option {
    padding: 2px;
}
#signupform #rolesection .option label {
    padding-left: 5px;
}
#signupform #rolesection input {
    float: left;
    clear: left;
    display: block;
    text-align: right;
    margin-left: 110px;
}